<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.coord-e.passregex</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>ENABLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PASSCODE</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.coord-e.passregex.notify</string>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>default</key>
      <string></string>
			<key>defaults</key>
			<string>com.coord-e.passregex</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>pass</string>
			<key>placeholder</key>
			<string>YOUR_REAL_PASSCODE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.coord-e.passregex</string>
			<key>key</key>
			<string>master</string>
			<key>label</key>
			<string>REAL_PASS_MASTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>REAL_PASS_MASTER_TEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>REGULAR_EXPRESSION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
      <string></string>
			<key>defaults</key>
			<string>com.coord-e.passregex</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>regex</string>
			<key>placeholder</key>
			<string>.*</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>RESPRING_TEXT</string>
		</dict><!--
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>-->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github:</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>SOURCE</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter:</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>FOLLOW_ME</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Copyright © 2016 coord.e</string>
		</dict>
	</array>
	<key>title</key>
	<string>Passregex</string>
</dict>
</plist>
